.landingPageContainer{
    width: 100vw;
    height: 100vh;

    background-image: url("/public/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.landingPageContainer nav{
  padding: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content:space-between ;
}

.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 500;
}
.landingPageContainer nav .navlist{
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
      padding: 4rem 5rem;

}
.landingMainContainer > div{
    flex: 1;
}
.imageContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.imageContainer img{
    width: 500px;
    height: auto;
}

.landingMainContainer > div:nth-child(1){
 font-size: 1.8rem;
   white-space: nowrap;
}

.landingMainContainer > div:nth-child(1) div[role='button']{
  background-color: #EC4899;;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1rem;
  
}
.landingMainContainer > div:nth-child(1) div[role='button'] a{
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}